.buttonPrimary {
  width: 100%;
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  padding: 0.625rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buttonPrimary:hover {
  background-color: var(--primary-hover);
}

.buttonPrimary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonSecondary {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--border-light);
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--background);
  color: var(--text-secondary);
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.buttonSecondary:hover {
  border-color: var(--primary);
}

.buttonSecondaryActive {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--primary);
  font-size: 0.875rem;
  font-weight: 500;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}
